/* _______________________________Generales_______________________________ */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: justify;
  color: #222222;
}

body {
  background-color: #EEEEEE;
}

.p-10 {
  padding: 10px;
}

.width-general {
  width: 77%;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.m-auto {
  margin: auto;
}

a {
  color: #CC0000;
}

a:hover {
  color: #2222;
}

.serif, h2, h3 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-center {
  text-align: center;
}

/* ______________________Header_____________________*/

header {
  background-color: #000000;
  
}

header div {
  min-width: 528px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.logo {
  height: 43px;
}

h1 {
  color: #ffffff;
  font-weight: lighter;
  font-size: 2.3em;
}

/* ________________________Nav______________________ */

nav div {
  width: 320px;
}

nav {
  background-color: #ffffff;
  height: 60px;
  box-shadow: 0 2px 2px #DDDDDD;
}

nav li {
  list-style: none;
  float: left;
  font-size: x-small;
  margin-left: 14px;
  margin-top: 22px;
  margin-right: 14px;
  letter-spacing: 0.1em;
}

nav a {
  color: #2222;
  padding-bottom: 3px;
}

nav a:hover {
  color: #CC0000;
  padding-bottom: 3px;
}

.select {
  border-bottom: 2px solid #CC0000;
  padding-left: 2px;
}

/* _______________________________Cuerpo_______________________________ */
h2 {
  font-size: 1.7em;
  margin-top: 27px;
  margin-bottom: 14px;
}

h2 + p {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.border-y-grey {
  border-bottom: 2.7px solid #DDDDDD;
  border-top: 2.7px solid #DDDDDD;
  font-size: 0.88em;
  letter-spacing: 0em;
  line-height: 1.5em;
  width: 70%;
}

figure img {
  display: block;
  width: 40%;
  transition: 1s linear;
}
figure img:hover {
  transform: rotate(50deg);

}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  background-color: #000;
  color: #fff;
  opacity: 0;
  transition: opacity 1s ;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

article iframe {
  display: block;
  width: 75%;
}

figure {
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
}

figcaption {
  font-size: 0.5em;
  margin-top: 6px;
  text-align: center;
}

#cuerpo p {
  font-size: 0.7em;
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bio figure{
  text-align: center;
  display: inline;
}
.bio img {
  border-radius: 50%;
  display: inline;
  width: 150px;
}
.bio {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 20% 80%;
  align-items: center;
}
.bio small {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
}

/* -------------------- Recursos -------------------*/

main.recursos {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.recursos div:only-child {
  display: grid;
  grid-template-rows: 10% 90%;
}

.recursos h1 {
  color: #222222;
  align-self: center;
}

.lista-recursos {

}

.recursos ul > li {
  margin: 15px 0 15px 25px;
  font-size: smaller;
}
.cuadrado {
  list-style: square;

}

.recursos ol >li {
  margin: 20px 0 20px 0;
}

.prensa {
  list-style-image: url(../img/press-icon.png);
}
.red {
  list-style-image: url(../img/internet-icon.png);
}

#submenu {
  visibility: hidden;
  height: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: 1s ease-in-out;
  background-color: antiquewhite;
  overflow: hidden;
  margin-top: 10px;
}

li:hover #submenu {
  visibility: visible;
  height: 120px;
}


.menu {
  display: block;
  position: relative;
  height: 76px;
  width: 120px;
  margin: 0;
  overflow: hidden;
  }
  /* Bordes superiores */
  .menu.servicios {
  border-top: #ffc000 0.3em solid;
  }
  .menu.recursos {
  border-top: #b81800 0.3em solid;
  }
  .menu.proyectos {
  border-top: #00a53c 0.3em solid;
  }
  .menu.contacto {
  border-top: #9600b4 0.3em solid;
  }
  /* Atributos y transición */
  .menu > span {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  }
  .menu:after, .menu > span > span {
  display: block;
  text-align: center;
  border-radius: 0em;
  padding: 2em 0 1.5em;
  }
  .menu:after {
  content: attr(data-title);
  width: 100%;
  background: #000;
  color: #fff;
  }
  .menu > span > span {
  width: 120px;
  color: #fff;
  }
  .menu.servicios > span > span {
  background: #ffc000;
  }
  .menu.proyectos > span > span {
  background: #00a53c;
  }
  .menu.recursos > span > span {
  background: #b81800;
  }
  .menu.contacto > span > span {
  background: #9600b4;
  }
  /* Lo que pasa con hover */
  .menu:hover > span {
  height: 100%;
  }
  /* Dando formato a lista */
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  li a {
  display: inline;
  float: left;
  text-decoration: none;
  font-family: sans;
  }