/* _______________________________Generales_______________________________ */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: justify;
  color: #222222;
}

body {
  background-color: #EEEEEE;
}

.p-10 {
  padding: 10px;
}

.width-general {
  width: 77%;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.m-auto {
  margin: auto;
}

a {
  color: #CC0000;
}

a:hover {
  color: #2222;
}

.serif, h2, h3 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-center {
  text-align: center;
}

/* ______________________Header_____________________*/

header {
  background-color: #000000;
  
}

header div {
  min-width: 528px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.logo {
  height: 43px;
}

h1 {
  color: #ffffff;
  font-weight: lighter;
  font-size: 2.3em;
}

/* ________________________Nav______________________ */

nav div {
  width: 303px;
}

nav {
  background-color: #ffffff;
  height: 60px;
  box-shadow: 0 2px 2px #DDDDDD;
}

nav li {
  list-style: none;
  float: left;
  font-size: x-small;
  margin-left: 14px;
  margin-top: 22px;
  margin-right: 14px;
  letter-spacing: 0.1em;
}

nav a {
  color: #2222;
  padding-bottom: 3px;
}

nav a:hover {
  color: #CC0000;
  padding-bottom: 3px;
}

.select {
  border-bottom: 2px solid #CC0000;
  padding-left: 2px;
}

/* _______________________________Cuerpo_______________________________ */
h2 {
  font-size: 1.7em;
  margin-top: 27px;
  margin-bottom: 14px;
}

h2 + p {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.border-y-grey {
  border-bottom: 2.7px solid #DDDDDD;
  border-top: 2.7px solid #DDDDDD;
  font-size: 0.88em;
  letter-spacing: 0em;
  line-height: 1.5em;
  width: 70%;
}

article img {
  display: block;
  width: 60%;
}
article iframe {
  display: block;
  width: 75%;
}

figure {
  padding-top: 17px;
  padding-bottom: 17px;
}

figcaption {
  font-size: 0.5em;
  margin-top: 6px;
  text-align: center;
}

#cuerpo p {
  font-size: 0.7em;
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bio {
  float: left;
}
.bio img {
  border-radius: 50%;
  display: inline;
  width: 20%;
}
.bio span {
  
}
.bio figcaption {
  
}