/* _______________________________Generales_______________________________ */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222222;
}

body {
  background-color: #EEEEEE;
}

.p-10 {
  padding: 10px;
}

.width-75 {
  width: 75%;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.m-auto {
  margin: auto;
}

a {
  color: #CC0000;
}

a:hover {
  color: #222222;
}

.serif {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ______________________Header_____________________*/

header {
  background-color: black;
}

header div {
  min-width: 528px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.logo {
  height: 43px;
}

h1 {
  color: #ffffff;
  font-weight: lighter;
  font-size: 2.3em;
}

/* ________________________Nav______________________ */

nav div {
  width: 303px;
}

nav {
  height: 60px;
}

nav ul li {
  list-style: none;
  float: left;
  font-size: x-small;
  margin-left: 14px;
  margin-top: 22px;
  margin-right: 14px;
  letter-spacing: 0.1em;
}

nav a {
  color: #222222;
  padding-bottom: 3px;
}

nav a:hover {
  color: #CC0000;
  padding-bottom: 3px;
}

.select {
  border-bottom: 2px solid #CC0000;
  padding-left: 2px;
}

.shadow-b {
  box-shadow: 0 2px 2px lightgray;
}

/* _______________________________Cuerpo_______________________________ */
h2 {
  font-size: 1.7em;
  margin-top: 27px;
  margin-bottom: 14px;
}

h2 + p {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.border-y-grey {
  border-bottom: 2.7px solid #DDDDDD;
  border-top: 2.7px solid #DDDDDD;
  font-size: 0.88em;
  letter-spacing: 0em;
  text-align: justify;
  line-height: 1.5em;
  width: 70%;
}

article img {
  width: 60%;
}

